.banner-content {
    width: 100%;
    background-color: #535a55;
    padding: 2% 5%;
    line-height: 1.6;
    color: #faf1e6;
    text-align: center;
}

.banner-content h1 {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 4rem;
    
}
.banner-content ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
}

.banner-content li {
    font-weight: 300;
    font-size: 2rem;
    margin: 2rem;
}
